<div class="v2ex-box v2ex-sidebar">
    <div class="v2ex-sidebar-about">
        <p class="v2ex-text-title">V2EX = way to explore</p>
        <p class="v2ex-text-default">V2EX 是一个关于分享和探索的地方</p>
    </div>
    <div class="ya-text-center v2ex-sidebar-register">
        <a href="{{ url_for('auth.register') }}">
            <button class="v2ex-button">现在注册</button>
        </a>
        <p class="v2ex-p-default">
            <span class="">已注册用户请 </span>
            <a class="" href="{{ url_for('auth.login') }}">登录</a>
        </p>
    </div>
</div>
